body{
    margin: 0;
    background-color: rgb(20 20 20); 
}

body, #extra-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

#top-bar{
    display: flex;
    padding: 10px;
    position: fixed;
    height: 3vh;
    width: 100vw;
    justify-content: space-between;
    background-color: rgb(10 10 10);
    border-bottom: 2px rgb(25 25 25) solid;
}

#logo{
    height: 3vh;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: auto;
    margin-left: 60px;
    position: absolute;
}

#sections{
    margin-top: 3px;
    margin-right: 15px;
}

button{
    height: auto;
    background: none;
    color: rgb(200 200 200);
    border: 0px;
}
  
button:hover{
    color: rgb(89, 100, 255);
    text-decoration: underline;
}

#text{

    text-align: left;
    color: rgb(200, 200, 200);
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 50px;
}

h1{
    margin-left: 22px;
    resize: none;
    color: aqua;
}

#paragraph{
    margin-right: 10px;
}

@media screen and (max-width: 1500px) {
    h1{
        margin-left: 10px;
        margin-right: auto;
        font-size: 50px;
    }
    #paragraph{
        margin-left: 10px;
        position: absolute;
        display: flex;
        justify-content: center;
        margin-top: 250px;
    }
}